body{
    margin: 0 auto;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    line-height: 180%;
}

/* header styles */

header{
    background-color: black;
    display: flex;
    max-width: 100%;
    padding: 2.5rem 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-family: "Oswald", sans-serif;
}

.beige{
    color: beige;
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
}

header h1{
    text-align: center;
    line-height: 120%;
    font-size: 56px;
    color: white;
    margin: 0;
}

header img{
    max-width: 300px;
    border-radius: 16px;
    border: 2px solid white;
    margin-bottom: 40px;
}

/* main styles */

main{
    max-width: 100%;
    padding: 2.5rem 5rem;
}

main img{
    max-width: 100%;
    border-radius: 16px;
}

h2{
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 2.8rem */
}

a{
    color: grey;
}

a:hover{
    background-color: #252525;
    color: white;
}

footer{
    background-color: black;
    max-width: 100%;
    min-height: auto;
    text-align: center;
    padding: 20px 80px;
    color: white;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}

footer a:hover{
    background-color: white;
    color: black;    
    }

.uppercase{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0px 0px;
}